<form class="input-collection-space">
    <label class="label--checkbox" for="checkbox1"><input type="checkbox" name="options" value="option-one" id="checkbox1"><span></span>{{ checkbox-one-label }}</label>
    <label class="label--checkbox" for="checkbox2"><input type="checkbox" name="options" value="option-two" id="checkbox2"><span></span>{{ checkbox-two-label }}</label>
    <label class="label--checkbox" for="checkbox3"><input type="checkbox" name="options" value="option-three" id="checkbox3"><span></span>{{ checkbox-three-label }}</label>
</form>
