<label>{{ color-select-label }} <span class="clr-val"></span></label>
<ul class="clr-select">
    <li value="black" class="clr-select__clr-chip--black"></li>
    <li value="grey" class="clr-select__clr-chip--grey"></li>
    <li value="blue" class="clr-select__clr-chip--blue"></li>
    <li value="out of stock" class="clr-select__clr-chip--red clr-select__clr-chip--out-of-stock"></li>
    <li value="out of stock" class="clr-select__clr-chip--green clr-select__clr-chip--out-of-stock"></li>
    <li value="yellow" class="clr-select__clr-chip--yellow"></li>
    <li value="purple" class="clr-select__clr-chip--purple"></li>
    <li value="pink" class="clr-select__clr-chip--pink"></li>
</ul>
