<form class="input-collection-space">
    <label class="label--radio" for="radio1"><input type="radio" name="options" value="option-one" id="radio1"><span></span>{{ radio-one-label }}</label>
    <label class="label--radio" for="radio2"><input type="radio" name="options" value="option-two" id="radio2"><span></span>{{ radio-two-label }}</label>
    <label class="label--radio" for="radio3"><input type="radio" name="options" value="option-three" id="radio3"><span></span>{{ radio-three-label }}</label>
</form>
