$primary-color: #1a6461;
$primary-btn-color: #fff;
$secondary-color: #424242;
$secondary-btn-color: #222;
$white: #fff;

$border: #e6e6e6;


$black: #111;
$grey: #f1f1f1;
$blue: #12679d;
$red: #dc1a3e;
$green: #1c8658;
$yellow: #facb08;
$purple: #8115ff;
$pink: #ff86cc;

$success: #0fbb67;
$error: #ff0035;