/* FONT IMPORT */

@font-face {
    font-family: 'azo-sans-web-thin';
    src: url('../fonts/AzoSans-Thin-webfont.eot');
    src: url('../fonts/AzoSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AzoSans-Thin-webfont.woff') format('woff'),
         url('../fonts/AzoSans-Thin-webfont.ttf') format('truetype'),
         url('../fonts/AzoSans-Thin-webfont.svg#azo_sansthin') format('svg');
}
@font-face {
    font-family: 'azo-sans-web-light';
    src: url('../fonts/AzoSans-Light-webfont.eot');
    src: url('../fonts/AzoSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AzoSans-Light-webfont.woff') format('woff'),
         url('../fonts/AzoSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/AzoSans-Light-webfont.svg#azo_sansthin') format('svg');
}
@font-face {
    font-family: 'azo-sans-web-reg';
    src: url('../fonts/AzoSans-Regular-webfont.eot');
    src: url('../fonts/AzoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AzoSans-Regular-webfont.woff') format('woff'),
         url('../fonts/AzoSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/AzoSans-Regular-webfont.svg#azo_sansthin') format('svg');
}
@font-face {
    font-family: 'azo-sans-web-med';
    src: url('../fonts/AzoSans-Medium-webfont.eot');
    src: url('../fonts/AzoSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AzoSans-Medium-webfont.woff') format('woff'),
         url('../fonts/AzoSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/AzoSans-Medium-webfont.svg#azo_sansthin') format('svg');
}

/* TITLE STYLES */

$brand-font-light: 'azo-sans-web-light';
$brand-font-reg: 'azo-sans-web-reg';
$brand-font-med: 'azo-sans-web-med';

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-family: $brand-font-reg;
    font-size: 1.25rem;
    letter-spacing: 2.3px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

h2 {
    font-family: $brand-font-light;
    font-size: 0.875rem;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h3 {
    font-family: $brand-font-light;
    font-size: 0.6875rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    
    &.h3--product-listing {
        font-family: $brand-font-reg;
        font-size: 0.875rem;
        letter-spacing: 2.3px;
        text-align: center;
        margin-bottom: 0.25rem;
    }
    
}

/* BODY COPY STYLES */

$body-font: 'helvetica';

p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: 0.4px;
    margin-bottom: 1rem;
    
    &.p--small {
        font-size: 0.6875rem;
        letter-spacing: 0.3px;
    }
    
    &.price--title {
        @extend h1;
        margin-top: -0.5rem;
    }
    
    &.price--listing {
        @extend h3;
        text-align: center;
    }
    
}

/* LINK STYLES */

p a {
    color: $primary-color;
    
    &:hover {
        background-color: $grey;
    }
    
}




